* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    width: 100%;
    background-color: rgb(247, 172, 73);
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    font-weight: 20px;
}

#NAV {
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
    padding-left: 12%;
}

#navbarSupportedContent {
    gap: 20px;
    padding-left: 25%;
}

.container-fluid {
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
}

.image-container {
    position: relative;
    width: 100%;
    /* max-width: 100%; */
}

.image-container img {
    width: 100%;
    height: 500px;
    display: block;
    /*Removes unwanted whitespace below the image*/
}

/* 3. Position the text directly over the image */
.overlay-text {
    position: absolute;
    top: 40%;
    margin-left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
}

.subtext {
    color: white;
    margin-top: 10px;
    font-size: 13px;
}

.bold {
    font-size: 20px;
    color: rgb(249, 247, 246);
    font-weight: bold;
}

button.btn {
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 40px;
    background-color: chocolate;
}

.btn-1:hover {
    background-color: rgb(247, 247, 247) !important;
    color: black !important;
}

.btn-2:hover {
    background-color: rgb(221, 132, 17) !important;
    color: black !important;
}

button.btn-1 {
    background-color: rgb(247, 247, 247) !important;

}

button.btn-2 {
    background-color: rgb(208, 147, 67) !important;

}

.types-of-coffee {
    background-color: rgb(203, 183, 157);
    /* padding-left: 5%; */

}

.image {
    width: 22%;
    text-align: center;
}

/* .image {

    margin-top: 40px;
    width: 30%;
    text-align: center;

} */

#image-1 {
    border-right: 2px solid rgb(238, 230, 225);
    height: 200px;

}

.after-image {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/* .after-image {
    width: 100%;
    height: 100%;
    display: grid;

} */

/* Tablet */
@media (max-width: 992px) {

    .after-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .image {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 576px) {

    .after-image {
        grid-template-columns: 1fr;
    }
}

.espresso {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    cursor: pointer;
}

.image p {
    font-size: 12px;
    font-family: sans-serif;
}

.Features {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, sans-serif;

}

.Features h3 {
    font-weight: bold;
}

.third_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.image3 {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    gap: 30px;
}

.image-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.image-wrapper img {
    width: 50%;
}

.image-wrapper h3 {
    width: 50%;
    text-align: center;

}

/* Smaller screen */
@media (max-width: 768px) {
    .image-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .image-wrapper img,
    .image-wrapper h3 {
        width: 100%;
    }
}

.image-wrapper2 {
    display: flex;
    gap: 30px;
    padding-top: 40px;
    background-color: rgb(203, 183, 157);

}

.image-box {
    width: 50%;
    position: relative;
}

.third_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 65px;
    transform: translateY(-50%);
    width: 45%;
    color: white;
    font-size: 10px;
}

/* .image-wrapper2 h3 {
    width: 40%;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
} */

.para {
    border: 2px solid red;
    margin-left: 8%;
    width: 50%;
    font-size: 10px;
    text-align: center;

}

.para h3 {
    text-align: center;
    /* padding-left: 20px; */
    padding-top: 50px;
}

#size-of-btn2 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 40px;
    background-color: rgb(74, 40, 16);
    font-size: 15px;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {

    .image-wrapper2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .image-box {
        width: 100%;
    }

    .image-wrapper2 h3 {
        width: 100%;
    }
}

#size-of-btn {
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 40px;
    background-color: chocolate;
    font-size: 15px;
    font-weight: 500;
}